.single-sedoo-wppl-project header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single-sedoo-wppl-project header>div{
    flex-direction: column;
    align-items: start !important;
}
.single-sedoo-wppl-project header figure{
	max-width: 150px;
}

.taxo_project_table {
    width: 100%;
}

.taxo_project_table td, .taxo_project_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.sedoo_wppl_project .tag a::before {
    content: "#";
    display: inline-block;
}

.sedoo_wppl_project .tag a {
text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Open Sans",sans-serif;
    font-size: .75rem;
    display: inline-block;
    padding: 2px 10px;
}


.taxo_project_table td a {
    color:var(--theme-color);
}

.taxo_project_table tr:nth-child(even){background-color: #f2f2f2;}

.taxo_project_table tr:hover {background-color: #ddd;}

.taxo_project_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--theme-color);
    color: white;
}